{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": [2, "never"],
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true,
      "optionalDependencies": false,
    }]
  }
}
